.App {
    max-width: 1080px;
    margin: 0 auto;
}

.header {
    padding: 30px 40px;
    color: white;
    text-align: center;
    background-color: #f44336;
}

.addForm{
    display: flex;
    width: 75%;
    margin: 25px auto 0;
    justify-content: space-between;
}

.inputWrapper{
    width: 100%;
}

.input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px #262626 solid;
}

.btn {
    margin-left: 2px;
    padding: 10px;
    font-size: 16px;
    background: #D9D9F0;
    transition: 0.3s;
    cursor: pointer;
    border: 1px #262626 solid;
}

.btn:hover {
    background-color: #b3c1e6;
    color: #fff;
}

.active[disabled] {
    opacity: 1;
    color: #000000;
    cursor: inherit;
    color: #fff;
    background-color: #788cc4;
  }

.btn-listItem {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 15px;
    font-size: 19px;
    border: none;
    background: none;
}

.filters {
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

.todoList{
    display: flex;
    width: 80%;
    margin: 25px auto 0;
    padding: 10px 15px;
    list-style: none;
    flex-direction: column;
    gap: 5px;
    background-color: #565656;
}

.listItem{
    position: relative;
    display: flex;
    padding: 12px 50px;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    background: #eee;
}

.listItem:hover{
    background: #ddd;
}

.fulfilled {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.fulfilled:hover {
    background: #888;
}